
.client__list {
    // @media screen and (min-width: 480px) {
    //         width: 480px;
    //     }
    
    //     @media screen and (min-width: 768px) {
    //         width: 768px;
    //     }
    
    //     @media screen and (min-width: 1200px) {
    //         width: 1200px;
    //     }
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 30px;
}

.client__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: color var(--dur-tf), background-color var(--dur-tf);
    width: 210px;
    height: 92px;
    background-color: var(--white-cl);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border var(--dur-tf);
    justify-content: center;

        @media screen and (min-width: 768px) {
            width: 226px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
   
    /* outline: 2px solid tomato; */

    &:hover,
    &:focus {
        border: 1px solid var(--accent-txt-cl);
        }
}

.client__icon {
    fill: #afb1b8;
    transition: fill var(--dur-tf);

    .client__link:hover &,
    .client__link:focus & {
        fill: var(--accent-txt-cl);    
        }
}



