.hero {
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-cl);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // mobile

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero@1x_sm.jpg');

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero@2x_sm.jpg');
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero@1x_md.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero@2x_md.jpg');
    }
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero@1x_lg.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero@2x_lg.jpg');
    }
    height: 600px;
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 360px;
  font-size: 26px;
  font-weight: 900;

  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-cl);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    width: 696px;
  }

  /* margin-top: 0; */
}

.hero__button {
  padding: 9px 23px;

  @media screen and (min-width: 1200px) {
    padding: 9px 32px;
    display: inline-block;
  }
}
